[submodule "plugins/tagbar"]
	path = plugins/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "plugins/vim-airline"]
	path = plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "plugins/vim-airline-themes"]
	path = plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "plugins/vim-colorschemes"]
	path = plugins/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "plugins/vim-fugitive"]
	path = plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "plugins/vim-gitgutter"]
	path = plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
